<li id="post-<%= post._id %>">
    <p>
        <% if(locals.user && locals.user.id == post.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
            </small>
        <% } %>
        <%= post.content %><br>
        <small> <%= post.user.name %></small>
    </p>
    <div class="post-comments">
        <% if(locals.user) {%>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Comment here..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Post Comment"> 
            </form>
        <% } %>
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(let comment of post.comments){ %>
                    <%- include('_comment', {comment: comment}) %>
                <% } %>
            </ul>
        </div>
    </div>
</li>