<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/post.css">
<link rel="stylesheet" type="text/css" href="/css/comment.css">
<div>
    <h1>
        <i class="fa-solid fa-house fa-xs"></i>
        <%= title %>
    </h1>
</div>

<div id="home-container">
    <section id="feed-posts">
        <h3 class="heading">Posts</h3>
        <% if(locals.user) {%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" placeholder="What's on your mind ?" required spellcheck="false"></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% if(posts.length){ %> 
                    <% for(let post of posts){%>
                        <%- include('_post', {post: post}) %>
                    <% } %>
                <% } %> 
                <p class="replacement-text">No posts to see :(</p>
            </ul>
        </div>
    </section>
    <section id="user-friends">
        <% if(locals.user){ %> 
            <div id="friends-container" class="user-friends-div">
                <h3 class="heading">Friends</h3>
                <ul class="user-friends-div-list">
                    <% if(my_user.friendships.length){ %> 
                        <% for(let friendship of my_user.friendships){ %> 
                            <%- include('_friend', {friendship: friendship}) %>
                        <% } %>
                    <% } else{ %> 
                        <p class="replacement-text">No friends added</p>
                    <% } %>
                </ul>
            </div>
        <% } %>
        <div id="other-users" class="user-friends-div">
            <% if(locals.user){ %> 
                <h3 class="heading">Add these users</h3>    
            <% } else{ %> 
                <h3 class="heading">These users have joined us</h3>    
            <% } %>
            <ul class="user-friends-div-list">
                <% for(let user of all_users){ %>
                    <% if(locals.user && user.id == locals.user.id){ %>
                        <% continue %>
                    <% } %>
                    <li class="user-friends-div-list-item">
                        <div class="user-friends-div-list-item-img">
                            <% if(user.avatar){ %> 
                                <img src="<%= user.avatar %>" />
                            <% } else{ %> 
                                <img src="/images/default-dp.jpg" />
                            <% } %>
                        </div>
                        <div>
                            <p><%= user.name %></p>
                            <p><%= user.email %></p>
                        </div>
                        <div>
                            <a href="/users/profile/<%= user.id %>">
                                <button class="pointer">View Profile</button>
                            </a>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </section>
</div>
<% if(locals.user){ %>
    <script>
        $('#posts-list-container').addClass('posts-list-container-signed-in-height');
        $('#posts-list-container').removeClass('posts-list-container-signed-out-height');
        $('#other-users').css('height','265.6px');
    </script>
<% } else{ %> 
    <script>
        $('#posts-list-container').addClass('posts-list-container-signed-out-height');
        $('#posts-list-container').removeClass('posts-list-container-signed-in-height');
        $('#other-users').css('height','100%');
    </script>
<% } %>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script src="/js/home_friends.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>
<% if(posts.length){ %> 
    <script>
        $('#posts-list-container ul .replacement-text').addClass('hide');
    </script>
<% } else { %> 
    <script>
        $('#posts-list-container ul .replacement-text').removeClass('hide');
    </script>
<% } %>