<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/post.css">
<div>
    <h1>
        <i class="fa-solid fa-house fa-xs"></i>
        <%= title %>
    </h1>
</div>

<div id="home-container">
    <section id="feed-posts">
        <h3>Posts</h3>
        <% if(locals.user) {%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" placeholder="What's on your mind ?" required spellcheck="false"></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% if(posts.length){ %> 
                    <% for(let post of posts){%>
                        <%- include('_post', {post: post}) %>
                    <% } %>
                <% } %> 
                <p class="replacement-text">No posts to see :(</p>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <% if(locals.user){ %> 
            <div id="friends-container">
                <h4>Friends</h4>
                <ul>
                    <% for(let friendship of my_user.friendships){ %> 
                        <li id="#friend-<%= friendship.to_user._id %>">
                            <p>
                                <a href="/users/profile/<%= friendship.to_user._id %>"><%=friendship.to_user.name %></a>
                            </p>
                        </li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        <div>
            <h4>You may want to add these users</h4>
            <% for(let user of all_users){ %>
                <p>
                    <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
                </p>
            <% } %>
        </div>
    </section>
</div>
<% if(locals.user){ %>
    <script>
        $('#posts-list-container').addClass('posts-list-container-signed-in-height');
        $('#posts-list-container').removeClass('posts-list-container-signed-out-height');
    </script>
<% } else{ %> 
    <script>
        $('#posts-list-container').addClass('posts-list-container-signed-out-height');
        $('#posts-list-container').removeClass('posts-list-container-signed-in-height');
    </script>
<% } %>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script src="/js/home_friends.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>
<% if(posts.length){ %> 
    <script>
        $('#posts-list-container ul .replacement-text').addClass('hide');
    </script>
<% } else { %> 
    <script>
        $('#posts-list-container ul .replacement-text').removeClass('hide');
    </script>
<% } %>