<link rel="stylesheet" type="text/css" href="<%= assetPath('css/profile.css') %>">
<link rel="stylesheet" type="text/css" href="<%= assetPath('css/forms.css') %>">

<div>
    <h1 class="page-heading"><%= title %></h1>
</div>

<div class="profile-container">
    <div class="profile">
        <div class="profile-img">
            <% if(profile_user.avatar){ %> 
                <img src="<%= profile_user.avatar %>" width="100">
            <% } else{ %> 
                <img src="/images/default-dp.jpg" >
            <% } %> 
        </div>
        <div class="profile-info">
            <p><b style="color: yellow;">Name:&emsp;</b><%= profile_user.name %></p>
            <p><b style="color: yellow;">Email:&emsp;</b><%= profile_user.email %></p>
        </div>
    </div>
    <% if(user.id == profile_user.id){ %>   
        <!-- if user matches then show the form -->
        <form action="/users/update/<%= profile_user.id %>" class="form" method="POST" enctype="multipart/form-data">
            <h3>update information</h3>
            <label for="name" class="form-label"><b>Name:&emsp;</b></label>
            <input type="text" class="form-text-input" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required autocomplete="off">
            <label for="email" class="form-label"><b>Email:&emsp;</b></label>
            <input type="email" class="form-text-input" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required autocomplete="off">
            <label for="avatar" class="form-label"><b>Profile Picture:&emsp;</b></label>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <div class="form-submit-button">
                <input type="submit" class="pointer" value="update">
            </div>
        </form>
    <% } else{ %>
        <!-- else show only the profile info -->
        <% if(user.friendships.find((element)=>element.to_user._id.toJSON() == profile_user._id.toJSON())){ %> 
            <form id="remove-friend-form" action="/friendships/remove/?from_user=<%= user.id %>&to_user=<%= profile_user.id %>" value="<%= user.id %>&<%= profile_user.id %>" method="POST">
                <div class="form-submit-button">
                    <input type="submit" class="pointer" value="Remove">
                </div>
            </form>
        <% } else{ %> 
            <form id="add-friend-form" action="/friendships/add/?from_user=<%= user.id %>&to_user=<%= profile_user.id %>" value="<%= user._id %>&<%= profile_user.id %>" method="POST">
                <div class="form-submit-button">
                    <input type="submit" class="pointer" value="Add">
                </div>
            </form>
        <% } %>           
    <% } %>
</div>
<script src="<%= assetPath('js/home_friends.js') %>"></script>
